@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1920px;
    width: auto;
    display: block;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.header {
    position: absolute;
    width: 100%;
    max-width: 1920px;
    padding: 15px;
    display: flex;
    align-items: center;
    z-index: 3;
    background-color: #18416f;
    position: relative !important;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .phone {
    width: auto;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

header .profile {
    font-size: 24px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

.login {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

nav {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    font-size: 24px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.btn {
    background-color: #7192B8;
    padding: 12px 62px;
    border: none;
    border-radius: 36px;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    color: #fff;
}

.title {
    margin-top: 90px;
    font-size: 96px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #123f65;
}

.order_main{
    width: 100%;

}

.order{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.left_side{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.right_side{
    width: 45%;
    height: 400px;
}

.left_side .photo_main{
    width: 65%;
    height: 400px;
    background-image: url(img/anapa.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}

.left_side .photo_min{
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left_side .photo{
    width: 100%;
    height: 190px;
    background-image: url(img/anapa.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.right_side .info_order{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right_side .info_order .price{
    font-size: 36px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #123f65;
}

.right_side .info_order .price span{
    font-size: 32px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #123f65;
}
.right_side .info_order .review_title{
    font-size: 24px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #000000;
}

.right_side .info_order .reviews{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.right_side .info_order .reviews .review{
    width: 100%;
    padding: 18px 24px;
    box-shadow: 2px 4px 8px 7px rgba(34, 60, 80, 0.2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right_side .info_order .reviews .review .info_user{
    display: flex;
    align-items: center;
    gap: 15px;
}

.right_side .info_order .reviews .review .info_user .photo_user{
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.right_side .info_order .reviews .review .info_user .name_user{
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: #000000;
}

.right_side .info_order .reviews .review .review_user{
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: #000000;
}

.right_side .info_order .reviews .review .info_user .notes{
    display: flex;
    gap: 3px;
}

.right_side .info_order .reviews .all_reviews{
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    text-align: end;
    font-style: normal;
    color: #000000;
    cursor: pointer;
}
















footer {
    width: 100%;
    height: 400px;
    background-color: #1f538fcc;
    padding: 60px;
    display: flex;
    justify-content: space-between;
}

.logo_menu {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_menu {
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.contact_footer {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.phone_mail_footer {
    width: 100%;
}

.phone {
    width: 100%;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

.mail {
    width: 100%;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

.socials {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}